.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {

  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.text-center {
  color: rgb(0, 0, 0);
}



/*VOY A CAMBIARLE EL COLOR A LOS BOTONES CON DIFERENTES IDS DE LA FAMILIA  LOGIN */


.warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: black;
  padding-top: 20px;

}


.textoLink {
  position: absolute;
  text-align: center;
  right: 0;
  width: 100px;
  height: 100px;
  padding-right: 300px;

}

.botonGoogle {

  padding: right 5%;
  ;

}

.nav-item {

  padding-left: 20%;

}

.vendidos {


  text-decoration-color: rgb(88, 87, 85);

}

#barra_usuario {
  color: rgb(250, 190, 240);
  text-shadow: 4px 4px 5px rgb(226, 5, 178);

}

.nombre_producto1 {

  text-align: left;
  color: rgb(245, 50, 180);
  border: darkmagenta;
  font-weight: bold;
  background: rgb(255, 79, 255);
  text-shadow: 0 0 10px #fff;
}


.titulos_comentarios {
  font-weight: bold;
  text-align: left;

}



.texto_descripcion {
  text-decoration-color: cyan;
  background: rgb(113, 223, 231);
  font-size: large;
  font-weight: bold;
}



.estrellas {
  display: flex;
}

.estrellas a {
  opacity: 50%;
  cursor: pointer;
  padding: 3px;

}

.estrellas:hover a {
  opacity: 100%;

}

.estrellas a:hover {
  opacity: 100%;

}

.estrellas a:hover~a {
  opacity: 50%;

}

.estrellas a.active {
  opacity: 100%;
}

.titulo_puntuar {
  font-weight: bold;
}

.estrellas.disabled {
  pointer-events: none;
}

/*CAMBIA EL COLOR DE LOS TEXTOS EN EL CENTRO*/

.payment-info {
  background: blue;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold
}

.product-details {
  padding: 10px
}

body {
  background: #eee
}

.cart {
  background: #fff
}

.p-about {
  font-size: 12px
}

.table-shadow {
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42)
}

.type {
  font-weight: 400;
  font-size: 10px
}

label.radio {
  cursor: pointer
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio span {
  padding: 1px 12px;
  border: 2px solid #ada9a9;
  display: inline-block;
  color: #8f37aa;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300
}

label.radio input:checked+span {
  border-color: #fff;
  background-color: blue;
  color: #fff
}

.credit-inputs {
  background: rgb(102, 102, 221);
  color: #fff !important;
  border-color: rgb(102, 102, 221)
}

.credit-inputs::placeholder {
  color: #fff;
  font-size: 13px
}

.credit-card-label {
  font-size: 9px;
  font-weight: 300
}

.form-control.credit-inputs:focus {
  background: rgb(102, 102, 221);
  border: rgb(102, 102, 221)
}

.line {
  border-bottom: 1px solid rgb(102, 102, 221)
}

.information span {
  font-size: 12px;
  font-weight: 500
}

.information {
  margin-bottom: 5px
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08)
}

.spec {
  font-size: 11px;
}


#productCountInput {

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);



}

#inputCount {
  position: absolute;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 60%;


}



.total_final {
  color: rgb(250, 190, 240);
  text-shadow: 4px 4px 5px rgb(211, 233, 16);
  font-size: 30px;

}

#boton_borrar {
  position: absolute;
  left: 85%;
  border-top: 55%;
  transform: translate(-50%, -50%);
  margin-right: 0.25cm;



}

#cantidad_productos {
  position: absolute;
  right: 85px;
  margin-right: 0.25cm;

}

#montos_parciales {
  position: absolute;
  right: 275px;
  margin-right: 0.25cm;

}

#monto_parcial{
  text-align: center;
  position: absolute;
  left: 330px;


}

#valor_envio1{
  position: absolute;
  left: 320px;
  margin-right: 0.25cm; 
}

#valor_envio2{
  position: absolute;
  left: 320px;
  margin-right: 0.25cm; 
}

#valor_envio3{
  position: absolute;
  left: 320px;
  margin-right: 0.25cm; 
}





